{{#if scope}}
**Kind**: {{#if (equal kind "event") ~}}
event emitted{{#if memberof}} by {{>link to=memberof}}{{/if}} <a name="{{{anchorName}}}" href="{{pathHelper meta.path}}{{meta.filename}}#L{{meta.lineno}}" title="{{meta.filename}}:{{meta.lineno}}"><small>(defined@{{meta.lineno}})</small></a>  
{{else~}}
{{scope}} {{#if virtual}}abstract {{/if}}{{kindInThisContext}}{{#if memberof}} of {{>link to=memberof}}{{/if}} <a name="{{{anchorName}}}" href="{{pathHelper meta.path}}{{meta.filename}}#L{{meta.lineno}}" title="{{meta.filename}}:{{meta.lineno}}"><small>(defined@{{meta.lineno}})</small></a>  
{{/if~}}
{{else~}}
{{#if isExported}}**Kind**: Exported {{kind}} <a name="{{{anchorName}}}" href="{{pathHelper meta.path}}{{meta.filename}}#L{{meta.lineno}}" title="{{meta.filename}}:{{meta.lineno}}"><small>(defined@{{meta.lineno}})</small></a>  
{{/if~}}
{{/if~}}